/* style.css */
body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

#resultado {
    margin-top: 20px;
}